@import "grid";
@import "colors";

.graphs-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 80vw;
  border: 3px solid $accent-color;
}

.graphs-list-item {
  border-bottom: 2px solid gray;
  position: relative;
  height: 60vh;
  @media screen and (min-width: $small) {
    height: 50vh;
  }

  @media screen and (min-width: $medium) {
    height: 40vh;
  }
}
